{% extends 'portfolio/base.html' %}

{% block content %}
  {% load static %}
  

<div class="row justify-content-center my-3">
<div class="col-7">
<div class="row justify-content-center mb-3">
<div class="col-md-9 text-center">


<u><h1 id="hometext" class="font-weight-bold">Varun's portfolio</h1></u>
<h5>"Whenever you find yourself on the side of the majority, it is time to pause and reflect." --Mark Twain</h5>
<img src="{% static 'portfolio/me.jpg' %}" height=400 width=400>
</div>
</div>
</div>
</div>
<br>

<u><h2 class="text-center mb-5" id="about">About   Myself</h2></u>
<h6>Hey there, I am Varun.V.S, a motivated and self-driven person. I am an optimistic guy who looks forward to every day as a chance to improve and upgrade from the current state. I believe in smart work rather than hard work and is always ready to take up any challenge which life throws at me. I am indeed fascinated and inspired by
technology and its advancements happening at a quick pace, I am very curious to learn and experiment with new technologies, languages, and tools. I believe in the fact
that if we don't find the next day to be more exciting than the previous day, there we lack motivation and interest. I will always look forward to helping people
in need, help people glide through different technologies, and shape a better human out of myself. I am an extrovert and an open-minded lad. Networking being one of
my key strengths, I would love to share my thoughts and opinions to the people around me. I am also an excellent team player and would give my best every time to my team.
I would like to add that, nothing is available at our comfort zone and must leap forward to achieve the milestone being everyday amplified.</h6>
<br>
<br>
<u><h2 class="text-center mb-5">Educational Background</h2></u>
<br>
<p><strong><h5>University Visvesvaraya College Of Engineering</h5></strong></p>
<li> 2018-present</li>
   <li>pursuing B.Tech in Information Science Engineering</li>
<br>
   <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-arrow-up-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
   </svg>
<br>
<p><strong><h5>ST. Claret Pre-University College</h5></strong></p>
<li>(From 2016 - 2018)</li>
<li>Passed out with distinction</li>

<br>
<svg  width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-arrow-up-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
</svg>

<br>
<p><strong><h5>ST. Anthony Claret School [ICSE]</h5></strong>
<li>(From 2008 - 2016)</li>
<li>Passed out with distinction</li>


<br>
<br>
<u><h3 class="text-center mb-5">Technical Skills.</h3></u>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 8px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>



<div class="row" id="skills">
  <div class="column">
    <img src="https://f1.pngfuel.com/png/835/530/416/python-logo-programming-language-computer-programming-python-programming-basics-for-absolute-beginners-scripting-language-source-code-php-code-climate-inc-png-clip-art.png"  style="width:100%" height = "200px" >
    <h4 align="center">Python</h4>
  </div>
  <div class="column">
    <img src="https://hackernoon.com/drafts/ap4924y2.png"  style="width:100%" height="175px">
    <h4 align="center">Django 3</h4>
  </div>
  <div class="column">
    <img src="https://pbs.twimg.com/profile_images/1255113654049128448/J5Yt92WW.png"  style="width:100%"height="175px">
    <h4 align="center">MYSQL</h4>
  </div>
</div>

<u><h3 class="text-center mb-5">Tools And Technologies</h3></u>
<div class="row">
  <div class="column">
    <img src="https://tlabglobal.com/wp-content/uploads/2019/03/logo-javascript-png-html-code-allows-to-embed-javascript-logo-in-your-website-587.png" height="200px">
    <h4 align="center">Java Scripts</h4>
  </div>
  <div class="column">
    <img src="https://cdn.iconscout.com/icon/free/png-512/c-programming-569564.png"  style="width:100%" height="217px">
    <h4 align="center">C programming</h4>
  </div>
  <div class="column">
    <img src="https://aplusweb.design/wp-content/uploads/2017/11/html5-and-css3.png"height="200px">
    <h4 align="center">HTML/CSS</h4>
  </div>
  </div>
  <div class="row">
  <div class="column">
  <img src="https://pbs.twimg.com/profile_images/928655749605199872/ygogGX2j_400x400.jpg"height="230px">
    <h4 >Arduino IDE</h4>
  </div>
   </div>
  </body>

  <u><h3 class="text-center mb-5" id="courses">Courses Completed.</h3></u>
     <ol>
       <li><h5> Modern JavaScripts 2020.</h5></li>
    <li><h5> API and WEB services.</h5></li>
    <li><h5> The Ulimate MYSQL Bootcamp.</h5></li>
    <li><h5> Querying And Databases.</h5></li>
    <li><h5> Django 3-full stack websites with Python Web Dev.</h5></li>
    <li><h5> Complete Python bootcamp.</h5></li>
    <li><h5> HTML 5/CSS. </h5></li>
    <li><h5> C programming. </h5></li>
</ol>

<u><h3 class="text-center mb-5" id="contact">Get In Touch:)</h3></u>








    {% endblock %}
